<div class="jumbotron text-left">
    <h2>Clients</h2>

    <div ng-controller="clients-ctrl as vm">
        <button type="button" id="addClient" class="btn btn-success" ng-click="vm.addRow(grid);">Add Client</button>
        <button type="button" id="removeSelected" class="btn btn-danger" ng-click="showConfirm()" ng-disabled="!rowSelected">Remove Selected Client</button>

        <div ui-grid="vm.clientsGrid" ui-grid-resize-columns ui-grid-selection ui-grid-cellNav class="myGrid"></div>
    </div>
</div>
