<div class="jumbotron text-left">
    <h2>Users</h2>

    <div ng-controller="users-ctrl as vm">
        <button type="button" id="addUser" class="btn btn-success" ng-click="vm.addRow(grid);">Add User</button>
        <button type="button" id="removeSelected" class="btn btn-danger" ng-click="showConfirm()" ng-disabled="!rowSelected">Remove Selected User</button>

        <div ui-grid="vm.usersGrid" ui-grid-resize-columns ui-grid-selection ui-grid-edit ui-grid-row-edit ui-grid-cellNav class="myGrid"></div>
    </div>
</div>
