@media(min-width: 1550px) {
    .myGrid {
        width: 1750px;
        height: 700px;
    }
    .container {
        width: 1900px !important;
    }
}

@media(max-width: 1549px) {
    @media (min-width: 1200px) {
        .myGrid {
            width: 1050px;
            height: 400px;
        }

        .container {
            width: 1200px !important;
        }
    }
}